/* canvas {
    position: fixed;
    top: 0;
    left: 0;
} */

html, body {
    margin: 0;
    height: 100%;
}

.controls-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
}

.control-icon {
    background-color: rgb(179, 102, 249);
    /* background-color: #1f1f1f8e; */
    padding:20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
}

.control-icon:hover {
    background-color: rgb(156, 59, 247);
}

.control-icon img {
    /* display: block; */
    height: 45px;
    width: 45px;
    background-color: transparent;
}

#leave-btn {
    background-color: rgb(255, 95, 95);
}

#leave-btn:hover {
    background-color: rgb(255, 51, 51);
}

/* .canvas-container {
    display: block;
    height: 70%;
} */